@charset "utf-8";

// 定义变量  $size : 22px ;
*{
    margin:0;
    padding:0;
    font-size: 12px;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
    cursor: pointer;
}

.head{ // 头部
    width:100%;
    height:30px;
    background:#FAFAFA;
    border-bottom: solid 1px #F0F0F0;
    .head_center{
        margin:0 auto;
        width:1200px;
        height:30px;
        .address{
            float: left;
            width:20%;
            &:hover{
                ul{display:block;} 
            }
            span{
                text-align: center;
                height:30px;
                width:100px;
                line-height:30px;
                padding-left:5px;
                
            }
            ul{
                position:absolute;
                z-index:999;
                width:300px;
                display:none;
                background:#fff;
                border:1px solid #f0f0f0;
                width:200px;
                padding-left:10px;
                li{
                    float:left;
                    margin-right: 10px;
                    height:20px;
                    line-height:20px;
                    &:hover{
                        background:#f0f0f0;
                        color:#ffa500;
                    }
                }
            }   
        }
        .user-enter{
            height:30px;
            width:43%;
            float: left;
            text-align: right;
            line-height:30px;
            color:#777777;
            .home{
                color:#333;
            }
            .log{
                color:#ffa500;
            }
            .reg{
                color:#333333;
            }
        }
        .menu{
            height:30px;
            width:440px;
            float:right;
            ul{
                line-height:30px;
                li{
                    float:left;
                    padding:0 10px;
                    background:url(../images/topbar-line.png) right center no-repeat;
                    a{
                        color:#777777;
                    }
                    i{
                        width: 6px;
                        height: 3px;
                        vertical-align: middle;
                        display:inline-block;
                        margin-left:6px;
                        background:url(../images/top_bg.png) no-repeat 0 0;
                    }
                    img{
                        vertical-align: middle;
                    }
                }
            }   
        }
    }
}

header{// 搜索栏
    height:100px;
    width:100%;
    .head_center{
        height: 100px;
        margin:0 auto;
        width:1200px;
        .head-left1{
            float:left;
            img{
                max-width: 176px;
                max-height: 54px;
                margin: 20px 0;
            }
        }
    }
    .head-left2{
        float:left;
        width: 195px;
        height: 60px;
        background: url(../images/header-left.png) no-repeat left center;
        margin: 20px 90px 0 10px;
    }
    .search{
        float:left;
        width: 510px;
        height:100px;
        form{
            width:510px;
            height: 36px;
            padding: 3px;
            background: #ffa500;
            line-height: 36px;
            padding:3px;
            margin-top:20px;
            .search_tips{
                float:left;
                width:50px;
                padding:0 14px;
                background:#f9f9f9;
                i{
                    width:6px;
                    height:3px;
                    vertical-align: middle;
                    display:inline-block;
                    margin-left:10px;
                    background:url(../images/top_bg.png) no-repeat 0 0;
                }
            }
            input{
                height:36px;
                border:none;
                outline: none;
                &:first-of-type{
                    float:left;
                    width:350px;
                }
                &:last-of-type{
                    float:right;
                    width:78px;
                    font-size: 14px;
                    color: #FFF;
                    font-weight: 600;
                    background-color: transparent;
                }
            }
        }
        .keyword{
            float:left;
            ul{
                margin-top:10px;
                li{
                    float:left;
                    margin-right: 12px;
                    &:nth-of-type(1) a{
                        color:#ffa500;
                    }
                    &:nth-of-type(4) a{
                        color:#ffa500;
                    }
                    a{
                        color:#000;
                    }
                }
            }
        }
    }
    .mycar{
        height: 40px;
        width:150px;
        float:right;
        margin-top:20px;
        color:#555;
        background: #FAFAFA;
        border:1px solid #F0F0F0;
        line-height:40px;
        span{
            background: url(../images/top_bg.png) no-repeat -120px 0;
            display:inline-block;
            vertical-align: middle;
            width: 20px;
            height: 16px;
            margin:0 8px;
        }
        i{
            border-style:solid;
            border-width:4px;
            border-color:#777 transparent transparent transparent;
            vertical-align: middle;
            display: inline-block;
            margin-left:3px;
        }
    }
}

.nav{// 导航栏
    width:100%;
    height:36px;
    border-bottom:2px solid #000;
    .nav_center{
        width:1200px;
        height:36px;
        line-height:36px;
        margin:0 auto;
        background: url(../images/nav-right.png) right bottom no-repeat;
        .all-category{
            width:212px;
            height:36px;
            background:#ffa500;
            float: left;
            position:relative;
            &:hover .category{
                display:block;
            }
            .title{
                i{
                    float: left;
                    width: 18px;
                    height: 14px;
                    background:url(../images/top_bg.png)  no-repeat -182px -186px;
                    margin:10px 6px 0 10px;
                }
                p{
                    a{
                        font-size: 14px;
                        font-weight: normal;
                        color: #FFF;
                    }
                }
            }
        }
        .category{
            display:none;
            width: 212px;
            position: absolute;
            top: 38px;
            z-index: 99;
            .menu{
                background: #2b2b2b;
                height: 400px;
                .menu-list{
                    padding-bottom: 10px;
                    background: url(../images/category-line.jpg) 0px bottom repeat-x;
                    .category-bt{
                        display: block;
                        height: 32px;
                        line-height: 32px;
                        margin-left: 15px;
                        color: #fabe00;
                    }
                    .son-class{
                        overflow: hidden;
                        margin: 0px 15px;
                        li{
                            float:left;
                            height: 24px;
                            line-height: 24px;
                            padding-right: 5px;
                            a{
                                font-size:12px;
                                color:#fff;
                                &:hover{
                                    color:#ffa500;
                                }
                            }
                        }
                    }
                }
                .last-list{
                    background:none;
                }
            }
        }
        .list{
            float:left;
            height:36px;
            li{
                float:left;
                a{
                    display:block;
                    font-size: 16px;
                    line-height: 20px;
                    color: #333;
                    height: 20px;
                    padding:8px 18px;
                }
            }
        }
    }
}

.bigbanner{// 背景图
    width: 100%;
    overflow: hidden;
    img{
        display:block;
        width:100%;
    }
    .list-nav{
        width:100%;
        height:40px;
        background:#D93600;
        ul{
            height:40px;
            line-height:40px;
            margin-left:50px;
            li{
                float:left;
                margin-right:20px;
                a{
                    font-size:14px;
                    color:#fff;
                }
            }
        }
    }
}

.goods-list{// 列表详情
    width:100%;
    overflow:hidden;
    .list-head{
        height:30px;
        line-height:30px;
        background:#fcfcfc;
        border:1px solid #E7E7E7;
        font-size:14px;
        p{
            margin-left:50px;
            float:left;
        }
        span{
            display:block;
            float:right;
            margin-right:50px;
        }

    }
    .list-content{
        .goods-info{
            li{
                a{
                    color:#000;
                    text-align: center;
                    box-sizing: border-box;
                    float:left;
                    width:20%;
                    padding:10px;
                    border:solid 1px #e7e7e7;
                    img{
                        max-width: 200px;
                        max-height:200px;
                    }
                    p{
                        height:20px;
                        line-height:20px;
                        margin: 10px 0;
                    }
                    span{
                        color:#f60;
    
                    }
                }
            }
        }
    }
}

.serve{ //服务中心
    width:100%;
    border-top: solid 1px #f5f5f5;
    background: #fff;
    padding: 30px 0px;
    overflow: hidden;
    .serve-center{
        width:1200px;
        margin:0 auto;
        .serve-left{
            width: 250px;
            height: 145px;
            border-right: 1px solid #e4e4e4;
            float: left;
            h2{
                font-size: 16px;
                color: #000;
                margin-bottom: 10px;
            }
            .serve-tel{
                margin-top: 20px;
                padding-left: 80px;
                height: 71px;
                background: url(../images/foot-tel.png) left top no-repeat;
                h2{
                    color: #ffa542;
                    font-size: 20px;
                }
                p{
                    font: 12px/150% "Hiragino Sans GB", "Microsoft Yahei", arial, 宋体, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
                    color: #666666;
                }
            }
        }
        ul{
            width: 678px;
            height: 135px;
            overflow: hidden;
            float: left;
            li{
                font-size: 12px;
                display: inline;
                float: left;
                padding-left: 30px;
                width: 100px;
                dl{
                    dt{
                        font: 14px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53;
                        margin-bottom: 4px;
                        font-weight: bold;
                    }
                    dd{
                        font: 12px/1.5 "Lucida Grande",tahoma,arial,\5b8b\4f53;
                        line-height: 24px;
                        white-space: nowrap;
                        a{
                            color:#666;
                        }
                    }
                }
            }
        }
        .serve-right{
            width: 260px;
            float: right;
            background: #fff;
            text-align: center;
            height: 145px;
            border-left: 1px solid #e4e4e4;
            ul{
                li{
                    width:79px;
                    h2{
                        font-size: 14px;
                        color: #000;
                        margin-bottom: 10px;
                    }
                    .weixin-app{
                        width: 79px;
                        height: 79px;
                        display: block;
                        background: url(../images/weixin-app.png) center center no-repeat;
                    }
                    .weixin-weixin{
                        width: 79px;
                        height: 79px;
                        display: block;
                        background: url(../images/weixin-weixin.png) center center no-repeat;
                    }
                    p{
                        color: #000;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

#footer{// 底部
    border-top: 1px solid #e7e7e7;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
    width: 100%;
    p{
        color: #666;
        word-spacing: 5px;
        padding: 10px 0;
        a{color: #666;}
    }
}