* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

li {
  list-style: none; }

.header-wrap {
  width: 100%;
  height: 100px;
  box-shadow: 2px 8px 6px #F4F4F4; }
  .header-wrap .public-head {
    width: 1200px;
    height: 100px;
    margin: 0 auto; }
    .header-wrap .public-head .head-left1 {
      float: left; }
      .header-wrap .public-head .head-left1 img {
        max-width: 176px;
        max-height: 54px;
        margin: 20px 0; }
    .header-wrap .public-head .head-left2 {
      float: left;
      width: 195px;
      height: 60px;
      background: url(../images/header-left.png) no-repeat left center;
      margin: 20px 90px 0 20px; }
    .header-wrap .public-head p {
      float: right;
      margin-left: 40px;
      line-height: 100px; }
      .header-wrap .public-head p a {
        color: #333; }

.log-wrap {
  background: #e2ebe8;
  height: 600px;
  padding: 40px 0px; }
  .log-wrap .log-wrap-center {
    width: 1200px;
    height: 600px;
    margin: 0 auto; }
    .log-wrap .log-wrap-center .log-left {
      float: left; }
    .log-wrap .log-wrap-center .log-right {
      float: right;
      width: 530px;
      height: 500px;
      background: url(../images/login-top.png) left top no-repeat; }
      .log-wrap .log-wrap-center .log-right .log-contain {
        width: 300px;
        height: 450px;
        background: #fff;
        padding: 0px 20px 0px 20px;
        margin: 19px auto 0px 101px; }
        .log-wrap .log-wrap-center .log-right .log-contain p {
          font-size: 14px;
          text-align: right;
          padding: 10px 0;
          margin-bottom: 10px; }
          .log-wrap .log-wrap-center .log-right .log-contain p a {
            color: #ff9900; }
        .log-wrap .log-wrap-center .log-right .log-contain .form {
          text-align: center; }
          .log-wrap .log-wrap-center .log-right .log-contain .form .log-info {
            width: 300px;
            height: 25px;
            padding: 10px 0;
            border: 1px solid #ddd;
            margin-bottom: 30px; }
            .log-wrap .log-wrap-center .log-right .log-contain .form .log-info i {
              margin-left: 15px;
              height: 25px;
              display: block;
              padding-right: 15px;
              border-right: 1px solid #ddd;
              float: left;
              width: 22px; }
            .log-wrap .log-wrap-center .log-right .log-contain .form .log-info .log1 {
              background: url(../images/user-icon.png) left center no-repeat; }
            .log-wrap .log-wrap-center .log-right .log-contain .form .log-info .log2 {
              background: url(../images/password-icon2.png) left center no-repeat; }
            .log-wrap .log-wrap-center .log-right .log-contain .form .log-info .log3 {
              background: url(../images/register-yanzhengma-icon.png) left center no-repeat; }
            .log-wrap .log-wrap-center .log-right .log-contain .form .log-info input {
              margin-left: 10px;
              height: 25px;
              line-height: 25px;
              border: none;
              font-size: 14px;
              float: left;
              outline: none; }
          .log-wrap .log-wrap-center .log-right .log-contain .form p a {
            color: #000; }
          .log-wrap .log-wrap-center .log-right .log-contain .form .info-sub {
            border: none; }
            .log-wrap .log-wrap-center .log-right .log-contain .form .info-sub input {
              width: 100%;
              height: 45px;
              line-height: 45px;
              background: #ff9900;
              color: #fff;
              border-radius: 5px;
              text-align: center;
              font-size: 16px;
              margin-left: 0;
              cursor: pointer; }

#footer {
  font-size: 12px;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  overflow: hidden;
  width: 100%; }
  #footer p {
    color: #666;
    word-spacing: 5px;
    padding: 10px 0; }
    #footer p a {
      color: #666; }

/*# sourceMappingURL=login.css.map */
